html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{-webkit-font-smoothing:antialiased!important;text-rendering:optimizeLegibility!important}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{font-family:'Open Sans',sans-serif!important;display:block;margin:0}
body *,.container *,.container-fluid *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body :before,.container :before,.container-fluid :before,body :after,.container :after,.container-fluid :after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.hFull{height:100%!important}
.w80{width:80%}
.hAuto{height:auto!important}
.h100p{height:100%}
.h0{height:0}
.h15{height:15px}
.h20{height:20px}
.h25{height:25px}
.h30{height:30px}
.h35{height:35px}
.h40{height:40px}
.h45{height:45px}
.h50{height:50px}
.h55{height:55px}
.h60{height:60px}
.h65{height:65px}
.h70{height:70px}
.h75{height:75px}
.h80{height:80px}
.h85{height:85px}
.h90{height:90px}
.h95{height:95px}
.h100{height:100px}
.h125{height:125px}
.h140{height:140px}
.h145{height:145px}
.h150{height:150px}
.h200{height:200px}
.h250{height:250px}
.h300{height:300px}
.h350{height:350px}
.h400{height:400px}
.h450{height:450px}
.h500{height:500px}
.h550{height:550px}
.h600{height:600px}
.h650{height:650px}
.h700{height:700px}
.h750{height:750px}
.h800{height:800px}
.h850{height:850px}
.mh20{max-height:20px}
.mh100{max-height:100px}
.mh25{max-height:25px}
.mh150{max-height:150px}
.mh30{max-height:30px}
.mh200{max-height:200px}
.mh35{max-height:35px}
.mh250{max-height:250px}
.mh40{max-height:40px}
.mh300{max-height:300px}
.mh45{max-height:45px}
.mh350{max-height:350px}
.mh50{max-height:50px}
.mh400{max-height:400px}
.mh55{max-height:55px}
.mh450{max-height:450px}
.mh60{max-height:60px}
.mh500{max-height:500px}
.mh65{max-height:65px}
.mh550{max-height:550px}
.mh70{max-height:70px}
.mh600{max-height:600px}
.mh75{max-height:75px}
.mh650{max-height:650px}
.mh80{max-height:80px}
.mh700{max-height:700px}
.mh85{max-height:85px}
.mh750{max-height:750px}
.mh90{max-height:90px}
.mh800{max-height:800px}
.mh95{max-height:95px}
.mh850{max-height:850px}
.mih40{min-height:40px}
.vh5{height:5vh}
.vw5{width:5vw}
.vh10{height:10vh}
.vw10{width:10vw}
.vh15{height:15vh}
.vw15{width:15vw}
.vh20{height:20vh}
.vw20{width:20vw}
.vh25{height:25vh}
.vw25{width:25vw}
.vh30{height:30vh}
.vw30{width:30vw}
.vh35{height:35vh}
.vw35{width:35vw}
.vh40{height:40vh}
.vw40{width:40vw}
.vh45{height:45vh}
.vw45{width:45vw}
.vh50{height:50vh}
.vw50{width:50vw}
.vh55{height:55vh}
.vw55{width:55vw}
.vh60{height:60vh}
.vw60{width:60vw}
.vh70{height:70vh}
.vw70{width:70vw}
.vh80{height:80vh}
.vw80{width:80vw}
.vh90{height:90vh}
.vw90{width:90vw}
.vh100{height:100vh}
.vw100{width:100vw}
.mw25{max-width:25px}
.mw35{max-width:35px}
.mw50{max-width:50px}
.mw60{max-width:60px}
.mw70{max-width:70px}
.mw80{max-width:80px}

@media (max-width: 768px) {
.container-fluid.res{display:block;width:100%}
}
.forceBlock{position:relative;display:block!important;width:100%!important}
.block{position:relative;display:table!important;width:100%}
.block.section{border-top:solid 2px #b2b2b2;border-bottom:solid 2px #b2b2b2}
.block.centered{width:auto;margin:0 auto!important}
.content{display:table-cell!important;width:100%!important;height:auto!important}
.content-fluid{display:table-cell!important;width:1%!important;height:auto!important;}
.contentTop{vertical-align:top}
.contentMiddle{vertical-align:middle}
.contentBottom{vertical-align:bottom}
@media (max-width: 768px) {
.content-fluid.res{display:table!important;width:100%!important;margin-bottom:5px}
}
.container{position:relative;margin-right:auto;margin-left:auto;padding-right:15px;padding-left:15px}
.center{margin:0 auto!important}
body:before,body:after,.container:before,.container:after{display:table;content:' '}
body:after,.container:after{clear:both}
@media (min-width: 768px) {
.container{width:750px}
.container.md{width:700px}
.container.sm{width:500px}
}
@media (min-width: 992px) {
.container{width:970px}
.container.md{width:768px!important}
.container.sm{width:650px!important}
}
@media (min-width: 1200px) {
.container{width:1170px}
.container.md{width:992px!important}
.container.sm{width:768px!important}
}
.container-fluid{position:relative;width:100%;margin-right:auto;margin-left:auto;padding-right:15px;padding-left:15px}
.container-fluid:before,.container-fluid:after{display:table;content:' '}
.container-fluid:after{clear:both}
.row{margin-right:-15px;margin-left:-15px}
.row:before,.row:after{display:table;content:' '}
.row:after{clear:both}
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float:left}
.col-xs-1{width:8.33333%}
.col-xs-2{width:16.66667%}
.col-xs-3{width:25%}
.col-xs-4{width:33.33333%}
.col-xs-5{width:41.66667%}
.col-xs-6{width:50%}
.col-xs-7{width:58.33333%}
.col-xs-8{width:66.66667%}
.col-xs-9{width:75%}
.col-xs-10{width:83.33333%}
.col-xs-11{width:91.66667%}
.col-xs-12{width:100%}
.col-xs-pull-0{right:auto}
.col-xs-pull-1{right:8.33333%}
.col-xs-pull-2{right:16.66667%}
.col-xs-pull-3{right:25%}
.col-xs-pull-4{right:33.33333%}
.col-xs-pull-5{right:41.66667%}
.col-xs-pull-6{right:50%}
.col-xs-pull-7{right:58.33333%}
.col-xs-pull-8{right:66.66667%}
.col-xs-pull-9{right:75%}
.col-xs-pull-10{right:83.33333%}
.col-xs-pull-11{right:91.66667%}
.col-xs-pull-12{right:100%}
.col-xs-push-0{left:auto}
.col-xs-push-1{left:8.33333%}
.col-xs-push-2{left:16.66667%}
.col-xs-push-3{left:25%}
.col-xs-push-4{left:33.33333%}
.col-xs-push-5{left:41.66667%}
.col-xs-push-6{left:50%}
.col-xs-push-7{left:58.33333%}
.col-xs-push-8{left:66.66667%}
.col-xs-push-9{left:75%}
.col-xs-push-10{left:83.33333%}
.col-xs-push-11{left:91.66667%}
.col-xs-push-12{left:100%}
.col-xs-offset-0{margin-left:0}
.col-xs-offset-1{margin-left:8.33333%}
.col-xs-offset-2{margin-left:16.66667%}
.col-xs-offset-3{margin-left:25%}
.col-xs-offset-4{margin-left:33.33333%}
.col-xs-offset-5{margin-left:41.66667%}
.col-xs-offset-6{margin-left:50%}
.col-xs-offset-7{margin-left:58.33333%}
.col-xs-offset-8{margin-left:66.66667%}
.col-xs-offset-9{margin-left:75%}
.col-xs-offset-10{margin-left:83.33333%}
.col-xs-offset-11{margin-left:91.66667%}
.col-xs-offset-12{margin-left:100%}
@media (min-width: 768px) {
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:left}
.col-sm-1{width:8.33333%}
.col-sm-2{width:16.66667%}
.col-sm-3{width:25%}
.col-sm-4{width:33.33333%}
.col-sm-5{width:41.66667%}
.col-sm-6{width:50%}
.col-sm-7{width:58.33333%}
.col-sm-8{width:66.66667%}
.col-sm-9{width:75%}
.col-sm-10{width:83.33333%}
.col-sm-11{width:91.66667%}
.col-sm-12{width:100%}
.col-sm-pull-0{right:auto}
.col-sm-pull-1{right:8.33333%}
.col-sm-pull-2{right:16.66667%}
.col-sm-pull-3{right:25%}
.col-sm-pull-4{right:33.33333%}
.col-sm-pull-5{right:41.66667%}
.col-sm-pull-6{right:50%}
.col-sm-pull-7{right:58.33333%}
.col-sm-pull-8{right:66.66667%}
.col-sm-pull-9{right:75%}
.col-sm-pull-10{right:83.33333%}
.col-sm-pull-11{right:91.66667%}
.col-sm-pull-12{right:100%}
.col-sm-push-0{left:auto}
.col-sm-push-1{left:8.33333%}
.col-sm-push-2{left:16.66667%}
.col-sm-push-3{left:25%}
.col-sm-push-4{left:33.33333%}
.col-sm-push-5{left:41.66667%}
.col-sm-push-6{left:50%}
.col-sm-push-7{left:58.33333%}
.col-sm-push-8{left:66.66667%}
.col-sm-push-9{left:75%}
.col-sm-push-10{left:83.33333%}
.col-sm-push-11{left:91.66667%}
.col-sm-push-12{left:100%}
.col-sm-offset-0{margin-left:0}
.col-sm-offset-1{margin-left:8.33333%}
.col-sm-offset-2{margin-left:16.66667%}
.col-sm-offset-3{margin-left:25%}
.col-sm-offset-4{margin-left:33.33333%}
.col-sm-offset-5{margin-left:41.66667%}
.col-sm-offset-6{margin-left:50%}
.col-sm-offset-7{margin-left:58.33333%}
.col-sm-offset-8{margin-left:66.66667%}
.col-sm-offset-9{margin-left:75%}
.col-sm-offset-10{margin-left:83.33333%}
.col-sm-offset-11{margin-left:91.66667%}
.col-sm-offset-12{margin-left:100%}
}
@media (min-width: 992px) {
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{float:left}
.col-md-1{width:8.33333%}
.col-md-2{width:16.66667%}
.col-md-3{width:25%}
.col-md-4{width:33.33333%}
.col-md-5{width:41.66667%}
.col-md-6{width:50%}
.col-md-7{width:58.33333%}
.col-md-8{width:66.66667%}
.col-md-9{width:75%}
.col-md-10{width:83.33333%}
.col-md-11{width:91.66667%}
.col-md-12{width:100%}
.col-md-pull-0{right:auto}
.col-md-pull-1{right:8.33333%}
.col-md-pull-2{right:16.66667%}
.col-md-pull-3{right:25%}
.col-md-pull-4{right:33.33333%}
.col-md-pull-5{right:41.66667%}
.col-md-pull-6{right:50%}
.col-md-pull-7{right:58.33333%}
.col-md-pull-8{right:66.66667%}
.col-md-pull-9{right:75%}
.col-md-pull-10{right:83.33333%}
.col-md-pull-11{right:91.66667%}
.col-md-pull-12{right:100%}
.col-md-push-0{left:auto}
.col-md-push-1{left:8.33333%}
.col-md-push-2{left:16.66667%}
.col-md-push-3{left:25%}
.col-md-push-4{left:33.33333%}
.col-md-push-5{left:41.66667%}
.col-md-push-6{left:50%}
.col-md-push-7{left:58.33333%}
.col-md-push-8{left:66.66667%}
.col-md-push-9{left:75%}
.col-md-push-10{left:83.33333%}
.col-md-push-11{left:91.66667%}
.col-md-push-12{left:100%}
.col-md-offset-0{margin-left:0}
.col-md-offset-1{margin-left:8.33333%}
.col-md-offset-2{margin-left:16.66667%}
.col-md-offset-3{margin-left:25%}
.col-md-offset-4{margin-left:33.33333%}
.col-md-offset-5{margin-left:41.66667%}
.col-md-offset-6{margin-left:50%}
.col-md-offset-7{margin-left:58.33333%}
.col-md-offset-8{margin-left:66.66667%}
.col-md-offset-9{margin-left:75%}
.col-md-offset-10{margin-left:83.33333%}
.col-md-offset-11{margin-left:91.66667%}
.col-md-offset-12{margin-left:100%}
}
@media (min-width: 1200px) {
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{float:left}
.col-lg-1{width:8.33333%}
.col-lg-2{width:16.66667%}
.col-lg-3{width:25%}
.col-lg-4{width:33.33333%}
.col-lg-5{width:41.66667%}
.col-lg-6{width:50%}
.col-lg-7{width:58.33333%}
.col-lg-8{width:66.66667%}
.col-lg-9{width:75%}
.col-lg-10{width:83.33333%}
.col-lg-11{width:91.66667%}
.col-lg-12{width:100%}
.col-lg-pull-0{right:auto}
.col-lg-pull-1{right:8.33333%}
.col-lg-pull-2{right:16.66667%}
.col-lg-pull-3{right:25%}
.col-lg-pull-4{right:33.33333%}
.col-lg-pull-5{right:41.66667%}
.col-lg-pull-6{right:50%}
.col-lg-pull-7{right:58.33333%}
.col-lg-pull-8{right:66.66667%}
.col-lg-pull-9{right:75%}
.col-lg-pull-10{right:83.33333%}
.col-lg-pull-11{right:91.66667%}
.col-lg-pull-12{right:100%}
.col-lg-push-0{left:auto}
.col-lg-push-1{left:8.33333%}
.col-lg-push-2{left:16.66667%}
.col-lg-push-3{left:25%}
.col-lg-push-4{left:33.33333%}
.col-lg-push-5{left:41.66667%}
.col-lg-push-6{left:50%}
.col-lg-push-7{left:58.33333%}
.col-lg-push-8{left:66.66667%}
.col-lg-push-9{left:75%}
.col-lg-push-10{left:83.33333%}
.col-lg-push-11{left:91.66667%}
.col-lg-push-12{left:100%}
.col-lg-offset-0{margin-left:0}
.col-lg-offset-1{margin-left:8.33333%}
.col-lg-offset-2{margin-left:16.66667%}
.col-lg-offset-3{margin-left:25%}
.col-lg-offset-4{margin-left:33.33333%}
.col-lg-offset-5{margin-left:41.66667%}
.col-lg-offset-6{margin-left:50%}
.col-lg-offset-7{margin-left:58.33333%}
.col-lg-offset-8{margin-left:66.66667%}
.col-lg-offset-9{margin-left:75%}
.col-lg-offset-10{margin-left:83.33333%}
.col-lg-offset-11{margin-left:91.66667%}
.col-lg-offset-12{margin-left:100%}
}
@media (max-width: 767px) {
.hidden-xs{display:none!important}
}
@media (min-width: 768px) and (max-width: 991px) {
.hidden-sm{display:none!important}
}
@media (min-width: 992px) and (max-width: 1199px) {
.hidden-md{display:none!important}
}
@media (min-width: 1200px) {
.hidden-lg{display:none!important}
}
@media (max-width: 1366px) {
.hidden-xlg{display:none!important}
}
.hidden{display:none!important;visibility:hidden!important}
.visible{display:block!important;visibility:visible}
.overflowHidden{overflow:hidden!important}
.overflowXauto{overflow:hidden;overflow-x:auto!important}
.overflowYauto{overflow:hidden;overflow-y:auto!important}
.overflowInherit{overflow: inherit!important;}
.overflowAuto{overflow:auto!important}
.pull-right{float:right!important}
.pull-left{float:left!important}
.clear-float{float:none!important;clear:both}
@media (max-width: 992px) {
.pull-right.res,.pull-left.res{float:none!important;clear:both}
}
.s10{font-size:10px!important}
.s12{font-size:12px!important}
.s15{font-size:15px!important}
.s20{font-size:20px!important}
.s25{font-size:25px!important}
.s30{font-size:30px!important}
.s35{font-size:35px!important}
.s40{font-size:40px!important}
.s45{font-size:45px!important}
.s50{font-size:50px!important}
.s55{font-size:55px!important}
.s60{font-size:60px!important}
.s65{font-size:65px!important}
.s70{font-size:70px!important}
.s75{font-size:75px!important}
.s80{font-size:80px!important}
.s85{font-size:85px!important}
.s90{font-size:90px!important}
.s95{font-size:95px!important}
.s100{font-size:100px!important}
.s28{font-size:28px!important}
.s10nr{font-size:10px!important}
.s15nr{font-size:15px!important}
.s12nr{font-size:12px!important}
.s18nr{font-size:18px!important}
.s20nr{font-size:20px!important}
.s25nr{font-size:25px!important}
.s30nr{font-size:30px!important}
.s35nr{font-size:35px!important}
.s40nr{font-size:40px!important}
.s45nr{font-size:45px!important}
.s50nr{font-size:50px!important}
.s55nr{font-size:55px!important}
.s60nr{font-size:60px!important}
.s65nr{font-size:65px!important}
.s70nr{font-size:70px!important}
.s75nr{font-size:75px!important}
.s80nr{font-size:80px!important}
.s85nr{font-size:85px!important}
.s90nr{font-size:90px!important}
.s95nr{font-size:95px!important}
.s200{font-size: 200px!important}
@media (max-width: 992px) {
.s10,.s15,.s20,.s25{font-size:15px!important;font-weight:400!important;line-height:1.2!important}
.s30,.s35,.s40,.s45{font-size:20px!important;font-weight:400!important;line-height:1.2!important}
.s50,.s55,.s60,.s65{font-size:30px!important;font-weight:400!important;line-height:1.2!important}
}
.index2{z-index:2!important}
.index16{z-index:16!important}
.index4{z-index:4!important}
.index18{z-index:18!important}
.index6{z-index:6!important}
.index20{z-index:20!important}
.index8{z-index:8!important}
.index25{z-index:25!important}
.index10{z-index:10!important}
.index30{z-index:30!important}
.index12{z-index:12!important}
.index14{z-index:14!important}
.bgCover{position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(80,79,68,.5)!important}
.fixed{position:fixed;
color:#000000;}
