<!DOCTYPE HTML>
<html>

<head>
    <title>Unbound-IT + Network</title>
    <meta http-equiv="section-section-content-type" section-section-content="text/html; charset=utf-8" />
    <meta name="description" section-section-content="" />
    <meta name="keywords" section-section-content="development, entrepreneurs, innovation, networking, coworking, technology, design" />
    <meta name="theme-color" section-content="#243c64" />

    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" section-content="#ffffff">
    <meta name="msapplication-TileImage" section-content="favicon/ms-icon-144x144.png">
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="css/skel.css" />
    <link rel="stylesheet" href="css/grid.css" />
    <link rel="stylesheet" href="css/helpers.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/style-xlarge.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>

<body>
    <main id="cotizador">
        <!-- Header -->
        <header id="header">
            <a href="index.html"><img class="h20" src="images/logo.png" alt="" /></a>
            <nav id="nav">
                <ul>
                    <li><a role="button">Home</a></li>
                    <li>
                        <a role="button">Servicios</a>
                        <ul>
                            <li><a role="button">Desarrollo de Software</a></li>
                            <li><a role="button">Tecnologías de la Información</a></li>
                            <li><a role="button">Servicio a Emprendedores</a></li>
                            <li>
                                <a href="">Diseño</a>
                                <ul>
                                    <li><a role="button">Logotipos</a></li>
                                    <li><a role="button">Imagen Corporativa</a></li>
                                    <li><a role="button">Impresion a pequeño y gran formato</a></li>
                                    <li><a role="button">Otros</a></li>
                                </ul>
                            </li>
                            <li><a role="button">Contabilidad y Legal</a></li>
                        </ul>
                    </li>
                    <li><a role="button">Contactanos</a></li>
                    <li><a role="button" herf="cotizador.html" class="button special">Cotiza tu proyecto</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main -->
        <div id="main" class="wrapper style1">
            <div class="section-container container-fluid">
                <header class="major">
                    <h2>Cotiza tu proyecto</h2>
                    <p>Con nuestro cotizador, podrás darte una idea de cuanto podria costar tu proyecto al trabajarlo con nosotros.</p>
                    <p>Selecciona las caracterisitcas de tu proyecto y ponte en contacto con nosotros.</p>
                </header>
                <div class="section-row row">
                    <div class="col-lg-12 col-xs-12">
                        <!-- section-content -->
                        <section id="section-content">
                            <ubit-cotizador></ubit-cotizador>
                        </section>

                    </div>

                </div>
            </div>

            <!-- Footer -->
            <footer id="footer">
                <ul class="icons">
                    <li class="hidden"><a role="button" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/unbound.it/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.linkedin.com/in/jcmedinamartinez/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    <li><a href="https://behance.net/jcmedina_ubit" class="icon fa-behance"><span class="label">Behance</span></a></li>
                    <li><a href="https://github.com/jcMedinaMtz" class="icon fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="https://about.me/jcmedinamartinez" class="icon fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Unbound-IT. All rights reserved.</li>
                    <li>Design: <a href="https://www.facebook.com/jcmedinamartinez2">Juan Carlos Medina Mtz.</a></li>
                </ul>
            </footer>
        </div>
    </main>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.scrolly.min.js"></script>
    <script src="js/jquery.dropotron.min.js"></script>
    <script src="js/jquery.scrollex.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-layers.min.js"></script>
    <script src="js/lodash.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/ubit.js"></script>
    <script src="js/init.js"></script>
    <script type="text/x-template" id="calculadora">
        <section class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <h3>Tamaño de tu empresa</h3>
                    <div class="clear"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
                    <div class="block text-center h50">
                        <div class="content-fluid contentMiddle" v-for="tCliente in tiposCliente">
                            <input name="tipocliente" type="radio" v-model="tipoCliente" :id="'cliente_' + tCliente.value" :value="tCliente.value"></input>
                            <label :for="'cliente_' + tCliente.value">{{tCliente.tipo}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <p>
                        {{descripcionCliente}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h3>Impacto del Proyecto</h3>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <template v-for="tImpacto in tiposImpacto">
                                        <input name="tipoimpacto" type="radio" v-model="tipoImpacto" :id="'impacto_' + tImpacto.value" :value="tImpacto.value"></input>
                                        <label :for="'impacto_' + tImpacto.value">{{tImpacto.tipo}}</label>
                                    </template>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h3>¿Cómo nos conocímos?</h3>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <template v-for="tCredibilidad in tiposCredibilidad">
                                        <input name="tipocredibilidad" type="radio" v-model="descuento" :id="'credibilidad_' + tCredibilidad.desc" :value="tCredibilidad.desc"></input>
                                        <label :for="'credibilidad_' + tCredibilidad.desc">{{tCredibilidad.tipo}}</label>
                                    </template>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h3>¿Cuántos programadores quieres en tu proyecto?</h3>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                    <input class="block" v-model="cantidadDevs" type="range" min="1" max="10">
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    <h3>{{cantidadDevs}}</h3>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h3>¿En cuánto tiempo esperas tener listo tu proyecto? (mínimo 12 semanas)</h3>
                                </div>
                                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                    <input class="block" v-model="semanas" type="range" min="12" max="52">
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    <h3>{{semanas}} semanas</h3>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h3>Describre brevemente tu proyecto:</h3>
                    <textarea name="message" id="message" placeholder="..." rows="6"></textarea>
                    <div class="clear"></div>
                    <h3>Costo aproximado: <br>$ {{precioPorHora}}</h3>
                </div>
            </div>
        </section>
    </script>
</body>

</html>
